@import url("https://fonts.googleapis.com/css?family=Montserrat|Nunito:300,400,700,900|Nunito+Sans|Playfair+Display:400,700,900");
.button {
  background: #f46036;
  color: #fafafa;
  padding: 4px 8px;
  border: 1px solid rgba(244, 96, 54, 0.5);
  border-radius: 4px;
  font-weight: 700; }

.button-register, .button-login, .button-forgot-password {
  width: 300px;
  display: block;
  text-align: center;
  margin-top: 1rem; }

.button-register:hover, .button-login:hover, .button-forgot-password:hover {
  color: #dadada;
  text-decoration: none;
  box-shadow: 8px 10px 20px 15px rgba(46, 61, 73, 0.15); }

a, h1, h2, h3, p, span {
  font-family: 'Nunito Sans'; }

#single-article .image-display {
  background-image: url("../img/image-display.jpg");
  background-position: center;
  background-repeat: no-repeat;
  height: 350px;
  background-size: cover; }
  #single-article .image-display .overlay {
    background: rgba(38, 35, 34, 0.6);
    width: 100%;
    height: 100%; }
  #single-article .image-display .ratings {
    height: 100%; }
    #single-article .image-display .ratings .average {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end; }
      #single-article .image-display .ratings .average h1 {
        padding: 0 2rem;
        text-align: right;
        color: #fafafa;
        font-size: 60px; }
      #single-article .image-display .ratings .average .average-icons {
        display: inline; }
        #single-article .image-display .ratings .average .average-icons .img {
          width: 20px; }
  #single-article .image-display .title {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    #single-article .image-display .title h1 {
      color: #fafafa;
      font-family: 'Playfair Display', serif;
      font-size: 50px;
      font-weight: 700;
      line-height: 60px;
      padding: 0 1rem;
      border-left: 8px solid #f46036; }

#single-article .article-body .body-sidebar {
  padding: 4rem 1rem; }
  #single-article .article-body .body-sidebar .actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end; }
    #single-article .article-body .body-sidebar .actions a {
      padding: 8px 12px;
      border: 1px solid #ece6e6;
      border-radius: 4px;
      margin: 1.5rem 4rem; }
      #single-article .article-body .body-sidebar .actions a img {
        width: 22px;
        height: 22px; }
    #single-article .article-body .body-sidebar .actions .action-delete {
      border-color: #f46036; }

#single-article .article-body .body-text {
  padding: 3.5rem 2rem; }
  #single-article .article-body .body-text hr {
    margin-top: -12px;
    margin-bottom: 60px; }
  #single-article .article-body .body-text p {
    font-family: 'Playfair Display', serif;
    color: #666;
    line-height: 1.7;
    font-size: 21px; }
  #single-article .article-body .body-text .tags {
    display: flex;
    flex-direction: row; }
    #single-article .article-body .body-text .tags a {
      background-color: #e4e4e4;
      color: #666;
      padding: 6px 28px;
      margin-right: 1rem; }
  #single-article .article-body .body-text .article-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3rem 0; }
    #single-article .article-body .body-text .article-info .author-details a {
      background-color: #e4e4e4;
      color: #666;
      padding: 4px 12px;
      font-size: 13px; }
    #single-article .article-body .body-text .article-info .article-details .rating {
      display: flex;
      margin-top: 20px;
      margin-left: 50px; }
      #single-article .article-body .body-text .article-info .article-details .rating i {
        margin-left: 10px;
        color: #F46036;
        font-size: .9em; }
    #single-article .article-body .body-text .article-info .article-details .option {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      padding-top: 35px;
      margin-right: 20px;
      font-size: 1.4em;
      color: #444; }
      #single-article .article-body .body-text .article-info .article-details .option .digit {
        font-size: .8em;
        margin-left: 2px; }

#single-article .author-details {
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }
  #single-article .author-details img {
    width: 96px;
    height: 96px;
    border-radius: 48px;
    border: 2px solid #f46036; }
  #single-article .author-details .names {
    padding: 1rem;
    font-family: nunito; }
    #single-article .author-details .names h4 {
      font-size: 20px; }
    #single-article .author-details .names h6 {
      color: #666; }

#single-article .comment-card {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  width: 100%; }
  #single-article .comment-card .author-details-column {
    display: flex;
    flex-direction: column;
    margin-right: 5%; }
    #single-article .comment-card .author-details-column img {
      width: 96px;
      height: 96px;
      border-radius: 48px;
      border: 2px solid #f46036; }
    #single-article .comment-card .author-details-column .names {
      padding: 1rem;
      font-family: nunito; }
      #single-article .comment-card .author-details-column .names h4 {
        font-size: 15px; }
      #single-article .comment-card .author-details-column .names h6 {
        color: #666;
        font-size: 14px; }
  #single-article .comment-card .comments {
    font-family: 'Playfair Display', serif;
    color: #666;
    line-height: 1.8;
    font-size: 18px;
    text-align: justify; }

#single-article .article {
  border: 1px #d1cece solid;
  font-family: 'Playfair Display', serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  margin-left: 14px;
  margin-bottom: 30px;
  width: 48%; }
  #single-article .article .image {
    display: flex;
    min-width: 45%;
    height: 180px;
    background-image: url("../images/img-article.png");
    background-size: cover; }
  #single-article .article .info {
    display: flex;
    flex-direction: column;
    padding: 20px; }
    #single-article .article .info .title {
      padding-bottom: 20px;
      font-size: 1em;
      font-weight: 700; }
    #single-article .article .info .options {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      padding-top: 8px; }
      #single-article .article .info .options .left {
        padding: 0;
        display: flex;
        flex-direction: row; }
        #single-article .article .info .options .left .option {
          margin-right: 20px;
          font-size: .8em;
          color: #444; }
          #single-article .article .info .options .left .option i {
            margin-right: 10px; }
      #single-article .article .info .options .right {
        padding: 0; }
        #single-article .article .info .options .right .rating {
          display: flex; }
          #single-article .article .info .options .right .rating i {
            margin-left: 10px;
            color: #F46036;
            font-size: .8em; }

#single-article .form {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 1rem;
  margin-left: 13px;
  margin-bottom: 30px; }
  #single-article .form label {
    display: block;
    color: #555;
    font-family: 'Playfair Display', serif;
    font-size: 1.5em; }
  #single-article .form textarea {
    box-sizing: border-box;
    width: 100%;
    border: 2px solid #efefef;
    height: 180px;
    margin-bottom: 10px;
    padding: 0 6px; }
  #single-article .form button {
    align-self: flex-end;
    text-transform: uppercase;
    font-family: Roboto, sans-serif;
    padding: 10px 40px;
    background-color: #F46036;
    font-size: .9em;
    color: #fff;
    font-weight: 600;
    border: 0;
    border-radius: 5px; }

@media only screen and (max-width: 527px) {
  #single-article .body-sidebar {
    display: none; }
  #single-article .article-body {
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 35%; }
  #single-article .title {
    margin-top: 30px; }
    #single-article .title h1 {
      color: black !important;
      font-size: 2.5em !important; }
  #single-article .article {
    width: 100%;
    margin: 10px; }
  #single-article .form {
    margin: 10px; }
  #single-article .comments {
    font-size: 1em !important; }
  #single-article .article-info {
    flex-wrap: wrap;
    padding: 3rem 4rem !important; }
  #single-article .author-details .rating {
    padding: 0 auto; }
  #single-article .article-details .numbers {
    display: flex;
    flex-direction: row;
    padding: 0 auto; } }

@media only screen and (min-width: 528px) and (max-width: 679.98px) {
  #single-article .body-sidebar {
    display: none; }
  #single-article .article-body {
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 30%; }
  #single-article .title {
    margin-top: 30px; }
    #single-article .title h1 {
      color: black !important; }
  #single-article .article {
    width: 100%;
    margin: 10px; }
  #single-article .form {
    margin: 10px; }
  #single-article .comments {
    font-size: 1em !important; }
  #single-article .article-info {
    flex-wrap: wrap;
    padding: 3rem 4rem !important; }
  #single-article .author-details .rating {
    padding: 0 auto; }
  #single-article .article-details .numbers {
    display: flex;
    flex-direction: row;
    padding: 0 auto; } }

@media only screen and (min-width: 680px) and (max-width: 767.98px) {
  #single-article .body-sidebar {
    display: none; }
  #single-article .article-body {
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 18%; }
  #single-article .title {
    margin-top: 30px; }
    #single-article .title h1 {
      color: black !important; }
  #single-article .article {
    width: 100%;
    margin: 10px; }
  #single-article .form {
    margin: 10px; }
  #single-article .comments {
    font-size: 1em !important; } }

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  #single-article .body-sidebar {
    display: none; }
  #single-article .article-body {
    justify-content: center; }
  #single-article .title {
    margin-top: 30px; }
    #single-article .title h1 {
      color: #fff !important; }
  #single-article .article {
    width: 100%;
    margin: 10px; }
  #single-article .form {
    margin: 10px; }
  #single-article .comments {
    font-size: 1em !important; }
  #single-article .article-info {
    flex-wrap: wrap;
    padding: 3rem 4rem !important; }
  #single-article .author-details .rating {
    padding: 0 auto; }
  #single-article .article-details .numbers {
    display: flex;
    flex-direction: row;
    padding: 0 auto; } }

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  #single-article .body-sidebar {
    display: none; }
  #single-article .article-body {
    justify-content: center; }
  #single-article .title {
    margin-top: 30px; }
    #single-article .title h1 {
      color: #fff !important; }
  #single-article .article {
    width: 100%;
    margin: 10px; }
  #single-article .form {
    margin: 10px; }
  #single-article .comments {
    font-size: 1em !important; } }
