@import url("https://fonts.googleapis.com/css?family=Montserrat|Nunito|Nunito+Sans");
@import url("https://fonts.googleapis.com/css?family=Montserrat|Nunito|Nunito+Sans");
.button {
  background: #f46036;
  color: #fafafa;
  padding: 4px 8px;
  border: 1px solid rgba(244, 96, 54, 0.5);
  border-radius: 4px;
  font-weight: 700; }

.button-register, .button-login, .button-forgot-password {
  width: 300px;
  display: block;
  text-align: center;
  margin-top: 1rem; }

.button-register:hover, .button-login:hover, .button-forgot-password:hover {
  color: #dadada;
  text-decoration: none;
  box-shadow: 8px 10px 20px 15px rgba(46, 61, 73, 0.15); }

a, h1, h2, h3, p, span {
  font-family: 'Nunito Sans'; }

#signup .container, #login .container {
  padding: 0;
  margin: 0; }
  #signup .container .row, #login .container .row {
    width: 100%; }

#signup .illustration-box, #login .illustration-box {
  background: #c18686;
  height: calc(100vh);
  z-index: 2; }
  #signup .illustration-box img, #login .illustration-box img {
    width: 100%;
    margin-left: 112px !important; }

#signup .form-box, #login .form-box {
  background: white;
  padding: 2rem 7rem; }
  #signup .form-box .logo, #login .form-box .logo {
    width: 50px;
    height: auto;
    position: fixed;
    right: 24rem;
    top: .5rem; }
  #signup .form-box h1, #login .form-box h1 {
    text-align: center;
    color: #555;
    font-family: 'Nunito', sans-serif; }
  #signup .form-box form, #login .form-box form {
    margin-top: 1rem; }
    #signup .form-box form label, #login .form-box form label {
      display: block;
      color: #555;
      font-family: 'Nunito Sans', sans-serif; }
    #signup .form-box form input, #login .form-box form input {
      border: 2px solid #efefef;
      width: 300px;
      height: 35px;
      margin-bottom: 10px;
      padding: 0 6px; }
    #signup .form-box form .input:focus, #login .form-box form .input:focus {
      outline: none !important;
      border: 2px solid rgba(244, 96, 54, 0.5);
      box-shadow: 2px 0 6px rgba(244, 96, 54, 0.8); }
  #signup .form-box p, #login .form-box p {
    text-align: center;
    color: #666;
    margin-top: 15px;
    font-family: 'Montserrat', sans-serif; }
  #signup .form-box .social-login, #login .form-box .social-login {
    display: flex;
    justify-content: space-around;
    padding: 0 1rem; }
    #signup .form-box .social-login a, #login .form-box .social-login a {
      box-shadow: 8px 10px 20px 0px rgba(46, 61, 73, 0.15);
      border-radius: 17px;
      padding: 2px; }
      #signup .form-box .social-login a img, #login .form-box .social-login a img {
        height: 34px;
        width: 34px; }
    #signup .form-box .social-login a:hover, #login .form-box .social-login a:hover {
      box-shadow: 8px 10px 20px 15px rgba(46, 61, 73, 0.15); }
  #signup .form-box .signin-link, #login .form-box .signin-link {
    margin-top: 3rem;
    color: #777; }
    #signup .form-box .signin-link a, #login .form-box .signin-link a {
      color: #f46036; }

@media only screen and (max-width: 768px) {
  #signup .illustration-box, #login .illustration-box {
    display: none; }
  #signup .form-box, #login .form-box {
    padding: 2rem 5rem; }
    #signup .form-box .logo, #login .form-box .logo {
      width: 50px;
      height: auto;
      position: fixed;
      left: 1rem;
      top: .5rem; } }

.button {
  background: #f46036;
  color: #fafafa;
  padding: 4px 8px;
  border: 1px solid rgba(244, 96, 54, 0.5);
  border-radius: 4px;
  font-weight: 700; }

.button-register, .button-login, .button-forgot-password {
  width: 300px;
  display: block;
  text-align: center;
  margin-top: 1rem; }

.button-register:hover, .button-login:hover, .button-forgot-password:hover {
  color: #dadada;
  text-decoration: none;
  box-shadow: 8px 10px 20px 15px rgba(46, 61, 73, 0.15); }

a, h1, h2, h3, p, span {
  font-family: 'Nunito Sans'; }

#forgot_password .container, #update-password .container {
  padding: 0;
  margin: 0; }
  #forgot_password .container .row, #update-password .container .row {
    width: 100%; }

#forgot_password .illustration-box, #update-password .illustration-box {
  background: #c18686;
  height: calc(100vh);
  z-index: 2; }
  #forgot_password .illustration-box img, #update-password .illustration-box img {
    width: 60%;
    margin-top: 112px !important;
    margin-left: 180px !important; }

#forgot_password .form-box, #update-password .form-box {
  background: white;
  margin-top: 112px !important;
  padding: 2rem 7rem; }
  #forgot_password .form-box .logo, #update-password .form-box .logo {
    width: 50px;
    height: auto;
    position: fixed;
    right: 24rem;
    top: .5rem; }
  #forgot_password .form-box h3, #update-password .form-box h3 {
    text-align: justify;
    color: #555;
    font-family: 'Nunito', sans-serif; }
  #forgot_password .form-box form, #update-password .form-box form {
    margin-top: 5rem; }
    #forgot_password .form-box form label, #update-password .form-box form label {
      display: block;
      color: #555;
      font-family: 'Nunito Sans', sans-serif; }
    #forgot_password .form-box form input, #update-password .form-box form input {
      border: 2px solid #efefef;
      width: 300px;
      height: 35px;
      margin-bottom: 10px;
      padding: 0 6px; }
    #forgot_password .form-box form .input:focus, #update-password .form-box form .input:focus {
      outline: none !important;
      border: 2px solid rgba(244, 96, 54, 0.5);
      box-shadow: 2px 0 6px rgba(244, 96, 54, 0.8); }
  #forgot_password .form-box p, #update-password .form-box p {
    text-align: justify;
    color: #666;
    margin-top: 15px;
    font-family: 'Montserrat', sans-serif; }

@media only screen and (max-width: 768px) {
  #forgot_password .illustration-box, #update-password .illustration-box {
    display: none; }
  #forgot_password .form-box, #update-password .form-box {
    padding: 2rem 5rem; }
    #forgot_password .form-box .logo, #update-password .form-box .logo {
      width: 50px;
      height: auto;
      position: fixed;
      left: 1rem;
      top: .5rem; } }

* {
  font-family: 'Open Sans', sans-serif; }

body {
  margin: 0;
  padding: 0;
  background: #f4f6f9; }

a {
  text-decoration: none; }

header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 5px 0;
  z-index: 10; }

.left {
  display: flex;
  align-items: center;
  padding: 8px;
  padding-left: 40px; }
  .left img {
    width: 45px;
    height: 40px; }

.right {
  display: flex;
  align-items: center;
  padding-right: 40px; }
  .right .btn {
    padding: 7px 20px;
    background-color: #F46036;
    font-size: .7em;
    color: #fff;
    font-weight: 600;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.12);
    align-self: center;
    margin-right: 30px; }
  .right .drop-down-menu {
    width: 180px;
    position: fixed;
    top: 70px;
    right: 50px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.12);
    border-radius: 3px; }
    .right .drop-down-menu div {
      padding: 15px 20px; }
      .right .drop-down-menu div span {
        margin-left: 20px;
        font-weight: 300; }
      .right .drop-down-menu div:hover {
        cursor: pointer;
        background: #f4f6f9; }
  .right .user {
    display: flex;
    align-self: center;
    align-items: center;
    margin: 0 20px; }
    .right .user:hover {
      cursor: pointer; }
    .right .user .avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 15px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.12);
      background-image: url("../images/man.jpg");
      background-size: cover; }
    .right .user .username {
      font-weight: 300;
      font-size: .9em;
      color: #333; }
    .right .user .drop-down {
      margin-top: 5px;
      margin-left: 15px; }
      .right .user .drop-down i {
        color: #666; }

@media only screen and (max-width: 600px) {
  header {
    padding: 0 0; }
  .right {
    padding-right: 0px; }
    .right .btn {
      padding: 7px 10px;
      font-size: .5em;
      margin-right: 10px; }
    .right .drop-down-menu {
      top: 70px;
      right: 5px; }
    .right .user {
      margin: 0 5px; }
      .right .user .username {
        display: none; }
      .right .user .drop-down {
        display: none; } }

nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 15%;
  height: 100%;
  background-color: #fff;
  padding: 100px 40px 0px; }
  nav .user {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    padding-bottom: 20px; }
    nav .user .p-avatar {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90px;
      height: 90px;
      border-radius: 50%;
      border: 2px solid #F46036; }
      nav .user .p-avatar .avatar {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.12);
        background-image: url("../images/man.jpg");
        background-size: cover; }
    nav .user .name {
      margin-top: 20px;
      font-weight: 400;
      font-size: 1em;
      padding-bottom: 5px;
      color: #000; }
    nav .user .username {
      font-weight: 300;
      font-size: .9em;
      color: #333; }
  nav .info {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    width: 100%;
    margin-top: 30px; }
    nav .info .item span {
      font-size: .9em; }
    nav .info .item .label {
      font-weight: 600; }
    nav .info .item .data {
      text-align: center;
      font-weight: 300;
      color: #666;
      margin-top: 5px;
      font-size: .9em; }
  nav .navigation {
    padding-top: 60px;
    display: flex;
    flex-direction: column; }
    nav .navigation .item {
      display: flex;
      align-items: center;
      padding: 5px;
      font-weight: 300;
      margin-bottom: 20px;
      color: #333; }
      nav .navigation .item:hover {
        color: #F46036; }
      nav .navigation .item span {
        margin-left: 25px;
        font-size: 1em; }
      nav .navigation .item i {
        font-size: 1.1em; }

@media only screen and (max-width: 600px) {
  nav {
    display: none; } }

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-left: 20%; }

.container {
  width: 70%;
  padding: 20px;
  margin-top: 100px; }
  .container .user {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px; }
    .container .user .avatar {
      position: relative;
      width: 130px;
      height: 130px;
      border-radius: 50%;
      margin-right: 15px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.12);
      background-image: url("../images/man.jpg");
      background-size: cover;
      box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1); }
      .container .user .avatar .edit {
        position: absolute;
        background-color: #F46036;
        right: 7px;
        bottom: 7px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        padding: .1em;
        cursor: pointer;
        display: flex;
        align-self: center;
        align-items: center;
        justify-content: center; }
        .container .user .avatar .edit i {
          color: #fff;
          font-size: .5em; }
    .container .user .names {
      margin-left: 70px;
      font-weight: 400;
      font-size: 1.4em; }
    .container .user .username {
      font-weight: 300;
      font-size: .7em;
      margin-top: 10px;
      color: #333; }
  .container .profile {
    padding: 20px 0px; }
    .container .profile .title {
      padding: 20px 0 60px;
      font-weight: 400;
      font-size: 1.1em; }
    .container .profile form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%; }
      .container .profile form .form-left, .container .profile form .form-right {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between; }
      .container .profile form .inputs {
        width: 40%;
        display: flex;
        flex-direction: column;
        margin-bottom: 60px; }
        .container .profile form .inputs .label {
          padding-bottom: 10px;
          font-weight: 300;
          font-size: .9em; }
        .container .profile form .inputs input {
          padding: 5px 15px;
          height: 35px;
          border: 1px solid rgba(0, 0, 0, 0.1);
          border-radius: 3px;
          font-size: .9em;
          font-weight: 300; }
        .container .profile form .inputs textarea {
          padding: 5px 15px;
          height: 140px;
          border: 1px solid rgba(0, 0, 0, 0.1);
          width: 90%;
          border-radius: 3px;
          font-size: .9em;
          font-weight: 300;
          resize: none;
          align-self: flex-start; }
      .container .profile form .form-div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 40%;
        align-self: flex-start; }
        .container .profile form .form-div .inputs {
          width: 100%; }
      .container .profile form .btn {
        padding: 10px 15px;
        background-color: #F46036;
        width: 90%;
        border-radius: 3px;
        font-size: 1em;
        font-weight: 600;
        text-align: center;
        color: #fff;
        font-size: .9em; }

@media only screen and (max-width: 600px) {
  .wrapper {
    margin-left: 0; }
  .container {
    margin-top: 500px;
    width: 100%;
    padding: 30px; }
    .container .user .avatar {
      width: 98px;
      height: 98px;
      margin-right: 0px; }
      .container .user .avatar .edit {
        right: 4px;
        bottom: 4px; }
    .container .user .names {
      margin-left: 20px; }
    .container .profile {
      padding: 20px 0px; }
      .container .profile .title {
        padding: 20px 0 60px;
        font-weight: 400;
        font-size: 1.1em; }
      .container .profile form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%; }
        .container .profile form .form-left, .container .profile form .form-right {
          width: 100%;
          display: flex;
          flex-direction: column; }
        .container .profile form .inputs {
          width: 100%;
          display: flex;
          flex-direction: column;
          margin-bottom: 60px; }
          .container .profile form .inputs .label {
            padding-bottom: 10px;
            font-weight: 300;
            font-size: .9em; }
          .container .profile form .inputs input {
            padding: 5px 15px;
            height: 35px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 3px;
            font-size: .9em;
            font-weight: 300; }
          .container .profile form .inputs textarea {
            padding: 5px 15px;
            height: 140px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            width: 90%;
            border-radius: 3px;
            font-size: .9em;
            font-weight: 300;
            resize: none;
            align-self: flex-start; }
        .container .profile form .form-div {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 100%;
          align-self: flex-start; }
          .container .profile form .form-div .inputs {
            width: 100%; }
        .container .profile form .btn {
          padding: 10px 15px;
          background-color: #F46036;
          width: 90%;
          border-radius: 3px;
          font-size: 1em;
          font-weight: 600;
          text-align: center;
          color: #fff;
          font-size: .9em; }
  .profile {
    width: 100%; } }

@media only screen and (max-width: 1300px) {
  nav {
    display: none; }
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 0%; } }

@media only screen and (max-height: 670px) {
  .container {
    margin-top: 500px; } }

@media only screen and (max-height: 770px) {
  .container {
    margin-top: 400px; } }

@media only screen and (max-height: 830px) {
  .container {
    margin-top: 300px; } }

@media only screen and (max-height: 570px) {
  .container {
    margin-top: 550px; } }

@media only screen and (height: 667px) {
  .container {
    margin-top: 440px; } }

@media only screen and (height: 736px) {
  .container {
    margin-top: 380px; } }

@media only screen and (min-height: 830px) {
  .container {
    margin-top: 30px; } }
