@import url("https://fonts.googleapis.com/css?family=Montserrat|Nunito|Nunito+Sans|Playfair+Display:400,700,900");
.button {
  background: #f46036;
  color: #fafafa;
  padding: 4px 8px;
  border: 1px solid rgba(244, 96, 54, 0.5);
  border-radius: 4px;
  font-weight: 700; }

.button-register, .button-login, .button-forgot-password {
  width: 300px;
  display: block;
  text-align: center;
  margin-top: 1rem; }

.button-register:hover, .button-login:hover, .button-forgot-password:hover {
  color: #dadada;
  text-decoration: none;
  box-shadow: 8px 10px 20px 15px rgba(46, 61, 73, 0.15); }

a, h1, h2, h3, p, span {
  font-family: 'Nunito Sans'; }

#view-article {
  margin: 0;
  padding: 0;
  background: #FFF;
  font-family: 'Open Sans', sans-serif; }
  #view-article a {
    text-decoration: none; }
  #view-article .p-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 2px solid #F46036; }
    #view-article .p-avatar .avatar {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.12);
      background-image: url("../images/man.jpg");
      background-size: cover; }
  #view-article .name {
    font-weight: 400;
    font-size: 1em;
    padding-bottom: 2px;
    color: #000; }
  #view-article .username {
    font-weight: 300;
    font-size: .9em;
    color: #333; }
  #view-article .follow {
    margin-top: 20px;
    padding: 5px;
    width: 80px;
    background: #EFEFEF;
    border: 0;
    font-weight: 300;
    font-size: .8em; }
  #view-article .rate {
    color: #f46036; }
  #view-article .form-box {
    background: white;
    border: 1px solid grey;
    height: 300px; }
    #view-article .form-box form {
      margin-top: 1rem; }
      #view-article .form-box form label {
        display: block;
        color: #555;
        font-family: 'Nunito Sans', sans-serif; }
      #view-article .form-box form textarea {
        border: 2px solid #efefef;
        width: 100%;
        margin-bottom: 10px;
        padding: 0 6px; }
      #view-article .form-box form .btn {
        padding: 7px 50px;
        background-color: #F46036;
        font-size: .9em;
        color: #fff;
        font-weight: 600;
        border-radius: 2px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.12);
        align-self: center;
        float: right; }
      #view-article .form-box form .input:focus {
        outline: none !important;
        border: 2px solid rgba(244, 96, 54, 0.5);
        box-shadow: 2px 0 6px rgba(244, 96, 54, 0.8); }
