header {
  position:fixed;
  width:100%;
  display: flex;
  justify-content: space-between;
  background-color: $color-light; 
  padding: 5px 0;
  z-index:10;
  .left{
    display: flex;
    align-items:center;
    padding: 8px;
    padding-left:40px;
    img {
        width: 45px;
        height: 40px;
    }
}

.right{
    display:flex;
    align-items:center;
    padding-right:40px;
    .btn{
      padding:7px 20px;
      background-color:#F46036;
      font-size:.7em;     
      color:#fff;   
      font-weight:600;
      border-radius:2px;
      box-shadow: 0 2px 5px rgba(0,0,0,.12);
      align-self: center;
      margin-right:30px;
    }

    // Bell
    hr{
      margin: 0px;
      padding: 0px;
    }
    .view-all{
      text-align: center;
      margin: 0px
    }
    .notification .drop-down-menu .user{
      display:flex;
      align-self: center;
      align-items:center;
      margin: 0 1px;
      &:hover{
          cursor:pointer;
      }
      .avatar{
          width:40px;
          height:40px;
          border-radius:50%;
          margin-right:15px;
          box-shadow: 0 2px 5px rgba(0,0,0,.12);
          background-image:url('../images/man.jpg');
          background-size: cover;
      }
      .username{
          font-weight:300;
          font-size:.9em;
          color:#999;
      }
    }
    .notification{
      .drop-down-menu{
        width:22%;
        position: fixed;
        top:70px;
        background-color:#fff;
        box-shadow: 0 2px 5px rgba(0,0,0,.12);
        border-radius:3px;
        .unread{
          background-color:aliceblue;
        }
        div{
          padding:15px 20px;
          span{
            margin-left:20px;
            font-weight:300;
          }
          &:hover{
            cursor:pointer;
            background:#f4f6f9;
          }
        }
      }
    }

    





  .drop-down-menu.user{
    right:50px;
    
  }
    .drop-down-menu{
      width:180px;
      position: fixed;
      top:70px;
      background-color:#fff;
      box-shadow: 0 2px 5px rgba(0,0,0,.12);
      border-radius:3px;
      
      div{
        padding:15px 20px;
        span{
          margin-left:20px;
          font-weight:300;
        }
        &:hover{
          cursor:pointer;
          background:#f4f6f9;
        }
      }
    }
    .user{
        display:flex;
        align-self: center;
        align-items:center;
        margin: 0 20px;
        &:hover{
            cursor:pointer;
        }
        .avatar{
            width:40px;
            height:40px;
            border-radius:50%;
            margin-right:15px;
            box-shadow: 0 2px 5px rgba(0,0,0,.12);
            background-image:url('../images/man.jpg');
            background-size: cover;
        }
        .username{
            font-weight:300;
            font-size:.9em;
            color:#333;
        }
        .drop-down{
            margin-top:5px;
            margin-left:15px;
            i{
                color:#666;
            }
        }
    }
}
}