$color-primary: #f46036;
$color-secondary: #c18686;
$color-dark: #262322;
$color-light: #fafafa;
$color-dark-secondary: #564256;


@import url('https://fonts.googleapis.com/css?family=Montserrat|Nunito:300,400,700,900|Nunito+Sans|Playfair+Display:400,700,900');

.button{
  background: $color-primary;
  color: $color-light;
  padding: 4px 8px;
  border: 1px solid rgba($color-primary,0.5);
  border-radius: 4px;
  font-weight: 700;
}


.button-register, .button-login, .button-forgot-password{
  width: 300px;
  display: block;
  text-align: center;
  margin-top: 1rem;

}
.button-register:hover, .button-login:hover, .button-forgot-password:hover{
  color: #dadada;
  text-decoration: none;
  box-shadow: 8px 10px 20px 15px rgba(46, 61, 73, 0.15);
}

a, h1, h2, h3, p, span{
  font-family: 'Nunito Sans';
}
