@import './shared/component.scss';

#forgot_password, #update-password{
  .container{
    padding: 0;
    margin: 0;
    .row{
      width: 100%;
    }
  }
  .illustration-box{
    background: $color-secondary;
    height: calc(100vh);
    z-index: 2;
    img{
			width: 60%;
			margin-top: 112px !important;
			margin-left: 180px !important;
    }
  }
  .form-box{
		background: white;
		margin-top: 112px !important;
    padding: 2rem 7rem;
    .logo{
      width: 50px;
      height: auto;
      position: fixed;
      right: 24rem;
      top: .5rem;
    }
    h3{
      text-align: justify;
      color: #555;
      font-family: 'Nunito', sans-serif;
    }
    form{
      margin-top: 5rem;
      label{
        display: block;
        color: #555;
        font-family: 'Nunito Sans', sans-serif;
      }
      input{
        border: 2px solid #efefef;
        width: 300px;
        height: 35px;
        margin-bottom: 10px;
        padding: 0 6px;
      }
      .input:focus {
        outline: none !important;
        border: 2px solid rgba($color-primary, 0.5);
        box-shadow: 2px 0 6px rgba($color-primary, 0.8);
    	}
    }
    p{
      text-align: justify;
      color: #666;
      margin-top: 15px;
      font-family: 'Montserrat', sans-serif;
    }
  }
  @media only screen and (max-width: 768px) {
    .illustration-box{
      display: none;
    }
    .form-box{
      padding: 2rem 5rem;
      .logo{
        width: 50px;
        height: auto;
        position: fixed;
        left: 1rem;
        top: .5rem;
      }
    }
  } 
}